<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">
    
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    
        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
        <link href="https://getbootstrap.com/docs/4.0/examples/carousel/carousel.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/css/function.js"></script>
        <!-- Function for alternate table color -->
        <script type="text/javascript">
            function altRows(id){
                if(document.getElementsByTagName){ 
                     
                    var table = document.getElementById(id); 
                    var rows = table.getElementsByTagName("tr");
                      
                    for(i = 0; i < rows.length; i++){         
                        if(i % 2 == 0){
                            rows[i].className = "evenrowcolor";
                        }else{
                            rows[i].className = "oddrowcolor";
                        }     
                    }
                }
            }
            window.onload=function(){
                altRows('alternatecolor');
            }
        </script>
    
    </head>

    <body>

        <header>
            <!-- navigation bar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark my_nav">
              <a class="navbar-brand" href="#">Rango Olympic</a>
              <!-- buttons on navigation bar -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'rango:index' %}">Home</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'rango:about' %}">About</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'rango:category' %}">Categories</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'rango:allpages' %}">Pages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Discover</a>
                  </li>
                </ul>

                {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'rango:myaccount' %}">My Account</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'rango:logout' %}">Logout</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'rango:login' %}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'rango:register' %}">Signup</a>
                    </li>
                </ul>
                {% endif %}

                <!-- search box on navigation bar -->
                <form class="form-inline mt-2 mt-md-0" role="search" method="get" id='searchform' action="{% url 'rango:search' %}" >
                  <input class="form-control mr-sm-2" type="search" name="q"  placeholder="Search" aria-label="Search" required>
                  <button id="nav_search" class="btn btn-outline-success my-2 my-sm-0 my_search" type="submit">Search</button>
                </form>
              </div>
            </nav>
        </header>
      
        <main role="main">

        <div class="container marketing">
            <!-- Background image -->
            <div>
                <img class="back_pic" src="{% static 'images/mainPicCut.PNG' %}" alt="BackgroundPic">
            </div>
            <div>
                {% block body_block %}

                {% endblock %}
            </div>
        </div>

        <div>
            {% block sidebar_block %}
                <!-- {% get_category_list category %} -->
            {% endblock %}
        </div>


        <hr />


        <!-- <div style="z-index:1;">
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'rango:restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'rango:logout' %}">Logout</a></li>
                <li><a href="{% url 'rango:add_category' %}">Add a New Category</a></l\i>
            {% else %}
                <li><a href="{% url 'rango:register' %}">Sign Up</a></li>
                <li><a href="{% url 'rango:login' %}">Login</a></li>
            {% endif %}
                <li><a href="{% url 'rango:about' %}">About</a></li>
                <li><a href="{% url 'rango:index' %}">Index</a></li>
            </ul>
        </div> -->



        <!-- Footer with a back to top function -->
        <footer class="container">
            <p class="float-right"><a href="#" style="color:rgb(233, 122, 122)"><strong>Back to top</strong></a></p>
        </footer>
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>    

    </body>
</html>
