{% extends 'rango/base.html' %}
{% load staticfiles %}
 
{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}

<div>
    <p class="white_header">Pages and News</p>

    <!-- <div class="search_trans">
        <form>
            <input class="search_placeholder" type="text" placeholder="   Search for categories">
        </form>
    </div> -->

    <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2 search_trans" type="text" placeholder="Pages in {{ category.name }}" aria-label="Search"/>
        <button id=page_search_cate class="btn btn-outline-success my-2 my-sm-0 my_search2" type="submit">Search</button>
    </form>
</div>

<div>
    <a style="position:absolute; top: 595px; left : 690px; font-weight: bold; color: rgb(90, 90, 90); font-size: 23px; ">Category: {{ category.name }}</a>
    <!-- add user authenticated -->
    <p><a id="add_page" class="btn btn-secondary my_viewall" href="/rango/category/{{ category.slug }}/add_page/" role="button" style="position:absolute; top: 595px; left : 330px">Add a page here &raquo;</a></p>
    <p><a id="add_news" class="btn btn-secondary my_viewall" href="/rango/category/{{ category.slug }}/add_news/" role="button" style="position:absolute; top: 595px; left : 500px">Add a news here &raquo;</a></p>
    <!-- add end if -->
    <br/>
    <select name="rank" style="top: 600px; right : 200px">
        <option>By views</option>
        <option>By likes</option>
        <option>Latest</option>
    </select>
    <select name="filter" style="top: 600px; left : 160px">
        <option>All pages</option>
        <option>My likes</option>
        <option>My contribution</option>
    </select>
</div>

<br/> <br/> <br/> <br/> <br/> <br/>
<div>
    {% if category %}
        {% if pages %}
        <h2 style="text-align: center;">Pages</h2>

        <table class="altrowstable" id="all_page_table">
            {% for page in pages %}
            <tr style="padding-top: 10px;padding-bottom: 10px;">
                <td nowrap="nowrap">
                    <a href="{{ page.url }}" style="font-style: oblique;font-weight: bold;color: rgb(90, 90, 90);">{{ page.title }}</a>
                    <a href="/rango/category/{{ category.name }}/{{ page.title }}/comment/"><input type="image" src="/static/images/comment_icon.png"  width="20" height="20" alt="comment_icon" style="float: right;"/></a>
                    </br>
                    <a>Views: {{ page.views }} </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <!-- <a href="#" style="color: rgb(90, 90, 90);text-decoration: underline;">Category: {{ page.category.name }} </a></br> -->
                    <a>Likes: {{ page.likes }} </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </td>

                <td style="padding-left: 20px;">
                    <a>Descriptions: xxxxxx xxxxxxxxx xxxxx xxxxxxx xxxx xxxxxxxxx xxxxxxxx xxxxxxxx xxxxxx xxxxx</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        </br>


        {% if news %}
        <h2 style="text-align: center;">News</h2>

        <table class="altrowstable" id="all_page_table">
            {% for page in news %}
            <tr style="padding-top: 10px;padding-bottom: 10px;">
                <td nowrap="nowrap">
                    <a href="/rango/category/{{ category.slug }}/{{ page.title }}/news/" style="font-style: oblique;font-weight: bold;color: rgb(90, 90, 90);">{{ page.title }}</a>
                    <a href="/rango/category/{{ category.name }}/{{ page.title }}/comment/"><input type="image" src="/static/images/comment_icon.png"  width="20" height="20" alt="comment_icon" style="float: right;"/></a>
                    </br>
                    <a>Author: {{ page.user.username }} </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </td>

                <td style="padding-left: 20px;">
                    <a>Content: {{page.content}}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <strong>No news currently in category.</strong>
        {% endif %}


    {% else %}
        The specified category does not exist.
    {% endif %}


    {% if user.is_authenticated %}
    {% endif %} 

</div>
{% endblock %}