{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Rango Olympic Homepage
{% endblock %}

{% block body_block %}

<!-- the category section -->
<div>
    <br/> <br/> <br/> <br/> <br/> <br/>
    <h2 style="text-align: center;">Top Three Categories</h2>
</div>
{% if categories %}
<div>
    <p><a class="btn btn-secondary my_viewall" href="#" role="button">View All &raquo;</a></p>
    <br/>
    <select name="rank" style="top: 800px;">
        <option>By views</option>
        <option>By likes</option>
        <option>Latest</option>
    </select>

</div>
<!-- the pic, name and description of top 3 categories-->
<div class="row">
    <!-- category 2 -->
    <div class="col-lg-4">
        <br/>
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Category image" width="140" height="140">
        <h4><a href="{% url 'rango:show_category' ct2.slug %}">{{ ct2.name }}</a></h4>
        <a>Views: {{ ct2.views }} 
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            Likes: {{ ct2.likes }} </a>
        <p>Descriptions: xxxxxx xxxxxxxxx xxxxx xxxxxxx xxxx xxxxxxxxx xxxxxxxx xxxxxxxx xxxxxx xxxxx</p>
    </div>
    <!-- category 1 -->
    <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Category image" width="160" height="160">
        <h4><a href="{% url 'rango:show_category' ct1.slug %}">{{ ct1.name }}</a></h4>
        <a>Views: {{ ct1.views }} 
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            Likes: {{ ct1.likes }} </a>
        <p>Descriptions: xxxx xxxxxx xxxxxx xxxxxxx xxxxxxxxx xxxxxxxx  xxxxxxxx xxxxxxxx xxxxxx xxxxx</p>
    </div>
    <!-- category 3 -->
    <div class="col-lg-4">
        <br/>
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Category image" width="140" height="140">
        <h4><a href="{% url 'rango:show_category' ct3.slug %}">{{ ct3.name }}</a></h4>
        <a>Views: {{ ct3.views }} 
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            Likes: {{ ct3.likes }} </a>
        <p>Descriptions: xxxxxx xxxxxxxxx xxxxx xxxxxxx xxxx xxxxxxxxx xxxxxxxx xxxxxxxx xxxxxx xxxxx</p>
    </div>
</div>
{% else %}
     <strong>There are no categories present.</strong>
{% endif %}

<!-- the pages section -->
<div>
    <br/> <br/>
    <h2 style="text-align: center;">Top five Links</h2>
</div>
{% if pages %}
<div>
    <p><a class="btn btn-secondary my_viewall" href="#" role="button">View All &raquo;</a></p>
    <br/>
    <select name="rank2" style="top: 1280px;">
        <option>By views</option>
        <option>By likes</option>
        <option>Latest</option>
    </select>

</div>
{% else %}
    <strong>There are no Links present.</strong>
{% endif %}
<table class="altrowstable" id="alternatecolor">
    <tr>
        <th>Title</th><th>URL</th><th>Category</th><th>Views</th><th>Likes</th>
    </tr>
    {% for page in pages %}
    <tr>
        <td>{{ page.title }}</a></td>
        <td><a href="{{ page.url }}">{{ page.url }}</a></td>
        <td>{{ page.category }}</td>
        <td>{{ page.views }}</td>
        <td>{{ page.likes }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}