{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
My account{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2">
    <div style="margin-left: 30px; ">
        <h2 class="featurette-heading" style="margin-top: 0px; font-size: 40px;">Hello! <span class="text-muted">{{ user_base.username }}</span></h2>
        <hr>
        {% if user_base.email %}
        <a class="lead">Email: {{ user_base.email }} </a> 
        {% else %}
        <a class="lead">You haven't registered an email </a> 
        {% endif %} 
    </div>
    </div>

    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto user_pic" src="{{ user_url }}" alt="User Photo placeholder" width="150px", height="150px">
    </div>
</div>
</br></br></br></br></br>
<div>
    <h2 style="text-align: center;">View your comments here</h2>
    </br></br>
    {% if comments %}
    <ul>
        {% for comment in comments %}
        <li>
            {% if comment.page %}
            &#91 Page &#93{{comment.page}}:&nbsp<span style="font-weight: bold;">{{ comment.content }}</span>
            {% endif %}
            {% if comment.news %}
            &#91 NEWS &#93{{comment.news}}:&nbsp<span style="font-weight: bold;">{{ comment.content }}</span>
            {% endif %}
            <a href="/rango/myaccount/{{ comment.id }}/delete/">delete</a> <br/>
            
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong >You don't have any comments</strong>
    {% endif %}

</div>


{% else %}
<p class="white_header">Sorry</p>
<p class="white_follower">Please login to view your account</p>
{% endif %} 

{% endblock %}