{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}

<p class="white_header">Welcome to Rango</p>
{% if registered %}
<p class="white_follower">Thank you for your registering! </p>
{% else %}
<p class="white_follower">Start your rango experience here by </br> registering your own account</p>

<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2">
    <div style="margin-left: 30px; ">
        <h2 class="featurette-heading" style="margin-top: 0px; font-size: 40px;">Register <span class="text-muted">Here</span></h2>
        <hr>
        <a class="lead">Sign in with Github </a> 
        <input type="image" src="{% static 'images/github_icon.png' %}" href="#" width="25" height="25" alt="githubs_icon"/></br>
        <a class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </a>
        <a class="lead" style="margin-left: 30px; ">&nbsp&nbsp&nbsp&nbsp&nbsp OR &nbsp&nbsp&nbsp&nbsp&nbsp </a>
        <form id="user_form" class="lead"  method="post" action="{% url 'rango:register' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
            <a href="{% url 'rango:register_official' %}">Register as an official account</a>
        </form>
    </div>
    </div>

    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'images/tokyo.jpg' %}" alt="Placeholder image">
    </div>
</div>
{% endif %}



{% endblock %}
