{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{user.name}}
{% endblock %}
    
{% block body_block %}
    {% if news %}
    <ul>
        {% for page in news %}
        <li>
            {{ page.title }}
            <a href="/rango/user/{{ page.id }}/delete/">delete</a> <br/>
            
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>You don't have news</strong>
    {% endif %}
    {% if comments %}
    <ul>
        {% for comment in comments %}
        <li>
            {{ comment.content }}
            <a href="/rango/user/{{ comment.id }}/delete/">delete</a> <br/>
            
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>You don't have comment</strong>
    {% endif %}

{% endblock %}